{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * pedigree plugin for Craft CMS 3.x
 *
 * pedigree index.twig
 *
 * @author    Vinod Patidar
 * @copyright Copyright (c) 2022 Vinod Patidar
 * @link      https://snayvik.com
 * @package   Pedigree
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("snvk\\pedigree\\assetbundles\\pedigree\\PedigreeAsset") %}
{% do view.registerAssetBundle("snvk\\pedigree\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "???" %}

{# The title of this CP section #}
{% set title = "pedigree" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('pedigree') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@snvk/pedigree/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{# Content that should appear in the page header#}
{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('pedigree') }}</a>
    </div>
{% endset %}

{# The content of the CP Section#}
{% set content %}
    <h2>{{ "Index CP Section body goes here"|t('pedigree') }}</h2>
    <img src="{{ iconUrl }}" height="64" width="64" />
    <p class="textline"></p>
{% endset %}
